body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
  background-color: rgb(195, 51, 51);

}

#board {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid black;
    border-radius: 20px;
    background-image: url("background.jpg");
    border-color: rgb(255, 131, 131);
background-size: contain;
}

.first h1{
    display: inline-block;
    position: relative;
    top: 220px;
}


    
   

